body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

section {
    scroll-margin-top: 150px; /* Ajuste este valor conforme a altura do seu header */
}

@media (max-width: 768px) {
    section {
        margin: 0px;
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background-image: url('head.png');
    background-size: 10;
    background-position-y: 220px;
    color: #ffffff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header nav {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    justify-content: space-between;
}

header .menu-left,
header .menu-right {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

header .menu-left {
    margin: 100;
    justify-content: space-around;
    flex: 1;
}

header .menu-right {
    justify-content: space-around;
    flex: 1;
}

header .menu-left li,
header .menu-right li {
    margin: 0 10px;
}

header .menu-left a,
header .menu-right a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s;
}

header .menu-left a:hover,
header .menu-right a:hover {
    color: #c8102e;
}

header .logo {
    display: flex;
    justify-content: center;
    flex: 1;
}

header .logo img {
    max-width: 150px;
}

header .menu-toggle {
    display: none;
    font-size: 24px;
    color: #ffffff;
    cursor: pointer;
}

@media (max-width: 768px) {
    header .menu-left,
    header .menu-right {
        display: none;
    }

    header .menu-toggle {
        display: block;
    }

    header .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #c8102e;
        padding: 10px;
        border-radius: 5px;
        width: calc(100% - 40px);
    }

    header .menu li {
        margin: 10px 0;
    }

    header .menu a {
        color: #ffffff;
        font-weight: 600;
    }

    header .menu.show {
        display: flex;
    }
}

.hero {
    background: url('futebol.jpg') no-repeat center center/cover;
    color: #ffffff;
    padding: 100px 20px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), transparent 40%),
                linear-gradient(to top, rgba(0, 0, 0, 0.3), transparent 40%),
                linear-gradient(to right, rgba(0, 0, 0, 0.3), transparent 40%),
                linear-gradient(to left, rgba(0, 0, 0, 0.3), transparent 40%);
    z-index: 0;
    pointer-events: none;
}

.cta {
    background-color: #c8102e;
    padding: 10px 20px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
}

.beneficios, .galeria, .contato, .sobre {
    padding: 0px 20px;
}

.sobre {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f4f4f4;
    text-align: left;
}

.sobre-content {
    max-width: 20%;
    padding-right: 40px;
}

.sobre h2 {
    font-size: 4rem;
    font-weight: 700;
    color: #000;
    /* margin: 0px; */
}

@media (max-width: 768px) {
    .sobre h2 {
        margin: 0px;
    }
}

.sobre p {
    font-size: 1.5rem;
    font-weight: 400;
    color: #555;
}

.sobre-sub {
    max-width: 50%;
}

.sobre-sub img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .sobre {
        flex-direction: column;
        text-align: center;
    }

    .sobre-content, .sobre-image {
        max-width: 100%;
        padding: 0;
    }

    .sobre-content {
        margin-bottom: 20px;
    }
}

.beneficios {
    background-color: #f4f4f4;
}

.benefit-item {
    margin: 20px 0;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
}

.gallery-grid img {
    width: 100%;
    border-radius: 5px;
}

footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}
.hero {
    position: relative;
    height:40vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero .content {
    position: relative;
    z-index: 1;
    margin-bottom: 0px;
    color: white;
    background-color: rgb(0,0,0,0.8);
    padding: 20px;
    border-radius: 30px;
}

.cta {
    background-color: #c8102e;
    padding: 10px 20px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
}

.beneficios {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
    background-color: #f4f4f4;
}

.beneficio-item {
    position: relative;
    flex: 1;
    margin: 0 10px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7);
}

.beneficio-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

.beneficio-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), transparent 40%),
                linear-gradient(to top, rgba(0, 0, 0, 0.3), transparent 40%),
                linear-gradient(to right, rgba(0, 0, 0, 0.3), transparent 40%),
                linear-gradient(to left, rgba(0, 0, 0, 0.3), transparent 40%);
    border-radius: 10px;
    z-index: 1;
}

.beneficio-texto {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #ffffff;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 600;
    z-index: 2;
    padding: 5px 10px;
    border-radius: 5px;
}

.beneficio-texto h3 {
    margin: 0;
}

@media (max-width: 768px) {
    .beneficios {
        flex-direction: column;
    }

    .beneficio-item {
        margin-bottom: 20px;
    }
}

.patrocinadores {
    text-align: center;
    padding: 0px 70px;
    background-color: #f4f4f4;
}

.patrocinadores-grid {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.patrocinador-item {
    display: flex;
    max-height: 200px; /* Limita a altura máxima do item */
    overflow: hidden; /* Garante que a imagem não ultrapasse o contêiner */
    margin-top: 0px;
}

.patrocinador-item img {
    max-height: 100%; /* Ajusta a altura da imagem ao contêiner */
    width: auto; /* Mantém a proporção da imagem */
    height: auto; /* Ajusta a altura proporcionalmente */
    object-fit: contain; /* Ajusta a imagem para cobrir o contêiner sem distorção */
}

@media (max-width: 768px) {
    .patrocinadores {
        padding: 0px 20px; /* Ajusta o padding para dispositivos móveis */
    }

    .patrocinadores-grid {
        flex-direction: column; /* Alinha os itens verticalmente em dispositivos móveis */
        align-items: center;
        justify-content: center;
    }

    .patrocinador-item {
        max-width: 100%; /* Ajusta a largura do item para ocupar toda a largura disponível */
        margin-top: 0px;
    }

    .patrocinadores h2 {
        margin: 0px;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.patrocinador-item {
    animation: pulse 2s infinite;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.patrocinador-item img {
    width: 300px;
    height: auto;
    display: block;
}

.patrocinadores h2 {
    text-align: center;
    font-size: 2.5rem;
    color: #333;
}

.galeria {
    background-color: #f4f4f4;
}

.galeria h2 {
    text-align: center;
    font-size: 2.5rem;
    color: #333;
}

.galeria-secao {
    margin-bottom: 40px;
}

.galeria-secao h3 {
    font-size: 2rem;
    color: #c8102e;
    margin-bottom: 20px;
}

.carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    gap: 20px;
}

.carousel-item {
    flex: 0 0 20%;
    min-width: 200px;
    height: 200px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    margin: 10px;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.carousel::-webkit-scrollbar {
    height: 8px;
}

.carousel::-webkit-scrollbar-thumb {
    background-color: #c8102e;
    border-radius: 10px;
}

.contato {
    background-color: #f4f4f4;
}

.section-title {
    text-align: center;
    margin-bottom: 20px;
}

.section-title h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #000;
    margin: 0;
}

.contact-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#contato-localizacao h2 {
    text-align: center;
    font-size: 2.5rem;
    color: #333;
}

.scroll-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.scroll-container::-webkit-scrollbar {
    height: 10px;
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.contato-escolinha {
    flex: 0 0 400px;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.info-container {
    flex: 1;
    display: flex;
    align-items: center;
}

.school-info {
    background-color: rgb(0,0,0,0.7);
    padding: 20px;
    border-radius: 10px;
    margin-left: -30px;
    width: 300px;
}

.school-info h3 {
    margin-top: 0;
    color: #f4f4f4;
}

.school-info p {
    color: #f4f4f4;
}

.school-info a {
    color: #c8102e;
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: #c8102e;
    border-radius: 10px;
}

.search-container {
    margin-bottom: 20px;
}

.search-container input {
    width: calc(100% - 120px);
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-container button {
    padding: 10px 20px;
    background-color: #ff5722; /* Ajuste conforme seu tema */
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

#search-button:hover {
    background-color: #a00d1b;
}